<!DOCTYPE html>
<html>
<title>Unraveling The Future</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


<link href="../static/main.css" rel="stylesheet">
<link href="../static/main1.css" rel="stylesheet">
<body>
	<header>
		<h1 class='logo'>Caidox</h1>
		<input type="checkbox" id="nav-toggle" class="nav-toggle">

<!-- Navigation bar -->
		<nav>
		  <ul>
			<li><a href="#home">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#team">Team</a></li>
			<li><a href="#contact">Contact</a></li>
		  </ul>
	   </nav>
	   <label for="nav-toggle" class="nav-toggle-label">
		 <span></span>
	   </lable>
	</header>

<!-- Main body -->
<div class="main-container" id="home">
	<div class="item one">
		<img id = "img1" src="../static/pee.png" style ="size: 100px;">
	</div>
	<div class="item two">
		<h2 class="main-text">Hi there! </br> We are launching this website very soon. Stay tuned stay safe! </h2>
		<hr class="main-text-separater" style="margin:auto;width:50%">
	</div>
		<p class="main-text-time-left" >
			<script src="../static/script.js"></script>
		</p> -->
</div>

<!-- Jumbotran -->
<div class="container-fluid">
	<div class="row jumbotrun">
		<div class="col-xs=12 col-sm-12 col-md-8 col-lg-9 col-xl-10">
			<p class="lead"> "The desire to create is one of the deepest yearnings of the human soul." 
				-- Dieter F. Uchtdorf</p>
		</div>
	</div> 
</div>

<!-- About Us -->
<div class="sales-points" id="about">
	<div class="sales-point">
	  <h3>Our Mission</h3>
	  <p>Maecenas id volutpat tellus. Praesent at rhoncus ante, non sollicitudin nisl.</p>
	</div>
	<div class="sales-point">
	  <h3>Our Vision</h3>
	  <p>Maecenas id volutpat tellus. Praesent at rhoncus ante, non sollicitudin nisl.</p>
	</div>
	<div class="sales-point">
	  <h3>Our Goal</h3>
	  <p>Maecenas id volutpat tellus. Praesent at rhoncus ante, non sollicitudin nisl.</p>
	</div>
</div>
<!-- Team -->

<div class="container" id="team">
	<div class="flip-card">
	  <div class="inner">
		<div class="front">
		  <img class = "team" src="../static/img2.jpg" style="width:230px;height:230px;" />
		</div>
		<div class="back">
		  <h5>Kamlesh Panwar</h5>
		  <p>Programmer, Leader</p>
		  <p>Yes, I do love alpacas 🦙</p>
		</div>
	  </div>
	</div>
	<div class="flip-card">
		<div class="inner">
		  <div class="front">
			<img class = "team" src="../static/img6.jpeg" style="width:230px;height:230px;" />
		  </div>
		  <div class="back">
			<h5>Ashwani Bhardwaj</h5>
			<p>Writer, Daydreamer</p>
			<p>I eat problems in my breakfast!🧐</p>
		  </div>
		</div>
	  </div>
</div>
<!-- Contact Us -->
<div class="contact" id="contact">
	<h4> Contact Us</h4>
</div>
<div class="contact">

	<a class="contactus" href="https://www.facebook.com/kkamlesh89/" target="_blank"><img id = "img3" src="../static/facebook.svg"> </a>
	<a class="contactus" href="https://www.instagram.com/kkamlesh286/" target="_blank"><img id = "img3" src="../static/instagram.svg"> </a>
	<a class="contactus" href="https://twitter.com/Kamlesh94962758" target="_blank"><img id = "img3" src="../static/twitter1.svg"> </a>
	<a class="contactus" href="https://github.com/KKAMLESH286" target="_blank"><img id = "img3" src="../static/github.svg"> </a>
</div>

<div class="contact">
	<h4> made with ❤️ by Kam</h4>
</div>
<div class="contact">
	<h4> All rights reserved ©2020</h4>
</div>
  
</body>
</html>
